html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.av-Index__container {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.av-Index__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.av-Index__mail {
    color: #ff5252;
    font-family: 'Bungee Shade', cursive;
    width: 200px;
    height: 50px;
    text-align: center;
}

.av-Index__linkedin {
    color: #ff5252;
    font-family: 'Bungee Shade', cursive;
    width: 200px;
    height: 50px;
    text-align: center;
}

.av-Index__github {
    color: #ff5252;
    font-family: 'Bungee Shade', cursive;
    width: 200px;
    height: 50px;
    text-align: center;
}

.av-Index__name {
    font-size: 32px;
    color: black;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 0px;
}

.av-Index__image {
    max-width: 35%;
    width: 200px;
    height: auto;
    border-radius: 100px;
}

.av-Index__description {
    color: black;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
}

.av-Index__social:hover {
    font-size: 32px;
}

.av-Index__text {
    font-size: 28px;
}

@media screen and (max-width:599px) {
    .av-Index__name {
        font-size: 28px;
    }
    .av-Index__text {
        font-size: 24px;
    }
}